.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  min-width: 0;
}
.freeBox__bKyAf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__vfMj5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 30px;
  min-width: 0;
}
.freeBox__g1PnZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px;
}
.text___0WZsg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  min-width: 0;
}
.text__gl0Oq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__tAnj9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-decoration-line: underline;
  min-width: 0;
}
.text__tEbRj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__wi0Kp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 0;
}
.text__duvHf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  min-width: 0;
}
